body {
    background-color: rgb(0, 162, 255);
}

.timer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid pink;
    width: 80vw;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 5em;
}

.timer-time {
    background-color: #cae9f7;
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10em;
    margin: 0 .5em;
    width: 100%;
}

.timer-time span {
    background-color: white;
    display: flex;
    width: 80%;
    margin-top: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
}